$color-primary: #204287;
$color-secondary: #5C5C5C;

$color-text-header-dec:#DDDDDC;

$color-white: #FFFFFF;

$color-buttom-more: #5C5C5C;


$color-header-background: #989897;
$color-navbar: #E61E29;
$color-footer:#204287;

$color-socialmedia-1:#818181;
$color-socialmedia-2:#C9C9C9;



//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
// for graybar
$gutter-horizontal-graybar: 2rem;

body{
}

.footer {
    background-color: $color-primary;

    a:link,
    a:visited {
        text-decoration: none;
        color: $color-white;
    }


    &__container {
        background-color: $color-footer;
        color: $color-white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__row {
    }



    &__icon {
        width: 70%
    }

    &__contact {}

    &__socialmedia {
        &__list {
            text-decoration: none;
            list-style-type: none;

            display: flex;
        }

        &__item {
            margin: auto;

            a {
                img {
                    width: 50px;
                }
            }
        }
    }

    &__whitebar{
        background-color: $color-white;
        height: 30px;
    }
}
