.buy {
    display: flex;
  }

  .line {
    background-image: linear-gradient(to right, #49b848, #10532b);
  }

  .call {
    background-image: linear-gradient(to right, #2c368f, #080a22);
  }

  .btn-buy,
  .btn-buy:link,
  .btn-buy:visited {
    margin: 10px;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;

    transition: all 0.2s ease-in-out;
  }
  .btn-buy:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  .btn-buy:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: translateY(0);
  }

  .btn-buy--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

  .line:active {
    background-image: linear-gradient(to left, #49b848, #10532b);
  }

  .call:active {
    background-image: linear-gradient(to left, #2c368f, #080a22);
  }



  @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
